
<div class="container">

  <h1>Fastest Search Engine</h1>

  <%= simple_form_for :movies, url: search_path do |f| %>
    <%= f.input :query, placeholder: "Start typing..." %>
  <% end %>

  <div class="result">
    <ul class="resultList">
      <% if @result %>
        <%
        @result.each do |i|
         puts "Value of local variable is #{i}"
        end
        %>
      <% end %>
    </ul>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js">
<script src="/javascripts/elasticAjax.js">
